<!--
    - mobility toggles
    - places form / checkboxes
-->
<body>
  <h2>Mobilität</h2>
  <form [formGroup]="mobilityOptionsForm">
    <div>
      <mat-slide-toggle
        formControlName="foot_traffic"
        labelPosition="before"
        class="options"
        color="warn"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="directions_walk"
          fontIcon="directions_walk"
          matTooltip="Foot traffic"
          matTooltipClass="example-tooltip-uppercase"
          class="options"
        >
        </mat-icon>
      </mat-slide-toggle>
      <mat-slide-toggle
        formControlName="public_transport"
        labelPosition="before"
        class="options"
        color="warn"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="directions_bus"
          fontIcon="directions_bus"
          matTooltip="public transport"
          matTooltipClass="example-tooltip-uppercase"
          class="options"
        >
        </mat-icon>
      </mat-slide-toggle>
      <mat-slide-toggle
        formControlName="publibike"
        labelPosition="before"
        class="options"
        color="warn"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="directions_bike"
          fontIcon="directions_bike"
          matTooltip="Publibike"
          matTooltipClass="example-tooltip-uppercase"
          class="options"
        ></mat-icon>
      </mat-slide-toggle>
    </div>
  </form>

  <h2>Ausgewählte Points of Interests</h2>
  <ul *ngFor="let chosenPOI of chosenPOIs">
    <li>{{ chosenPOI.Punktname }}</li>
  </ul>
  <button
    *ngIf="isAtLeastTwoSelected()"
    mat-raised-button
    color="primary"
    (click)="getIndividualWalk()"
  >
    Individuellen Spaziergang erhalten
  </button>

  <h2>Points of Interests auswählen</h2>

  <mat-accordion>
    <div class="categories" *ngFor="let category of categoriesWithData">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="grid-container">
          <div class="card-container" *ngFor="let poi of category.data">
            <mat-card class="example-card" (click)="togglePOISelection(poi)">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title
                    >{{ poi.Punktname }}
                    <span class="selected" *ngIf="isSelected(poi)"
                      >AUSGEWÄHLT</span
                    ></mat-card-title
                  >
                  <mat-card-subtitle>{{ poi.Rubrik }}</mat-card-subtitle>
                  <img
                    *ngIf="poi.Pfad_Foto"
                    mat-card-xl-image
                    [src]="poi.Pfad_Foto"
                  />
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                <div
                  class="poi-beschrieb"
                  *ngIf="poi.Beschrieb"
                  [innerHTML]="poi.Beschrieb"
                ></div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</body>
